<h2>Displaying all date types</h2>
<br>



<div class="container">
    
    
  </div>

  <div class="container">
      <input type="text" class="form-control" [value]="today | date:'short'">
  </div>
  <br>
  <div class="container">
    <input type="text" class="form-control" [value]="today | date:'medium'">

<br>

<div class="container">
    <input type="text" class="form-control" [value]="today | date:'long'">
</div>
<br>

<div class="container">
    <input type="text" class="form-control" [value]="today | date:'full'">
</div>
<br>

<div class="container">
    <input type="text" class="form-control" [value]="today | date:'shortDate'">
</div>
<br>

<div class="container">
    <input type="text" class="form-control" [value]="today | date:'mediumDate'">
</div>
<br>

<div class="container">
    <input type="text" class="form-control" [value]="today | date:'longDate'">
</div>
<br>

<div class="container">
    <input type="text" class="form-control" [value]="today | date:'fullDate'">
</div>
<br>

<div class="container">
    <input type="text" class="form-control" [value]="today | date:'shortTime'">
</div>
<br>

<div class="container">
    <input type="text" class="form-control" [value]="today | date:'mediumTime'">
</div>
<br>

<div class="container">
    <input type="text" class="form-control" [value]="today | date:'longTime'">
</div>
<br>

<div class="container">
    <input type="text" class="form-control" [value]="today | date:'fullTime'">
</div>


</div>







<!-- <p>Today is {{today | date}}</p>
    <p>{{today | date:'short'}}</p>
    <p>{{today | date:'medium'}}</p>
    <p>{{today | date:'long'}}</p>
    <p>{{today | date:'full'}}</p>
    <p>{{today | date:'shortDate'}}</p>
    <p>{{today | date:'mediumDate'}}</p>
    <p>{{today | date:'longDate'}}</p>
    <p>{{today | date:'fullDate'}}</p>
    <p>{{today | date:'shortTime'}}</p>
    <p>{{today | date:'mediumTime'}}</p>
    <p>{{today | date:'longTime'}}</p>
    <p>{{today | date:'fullTime'}}</p>
    <p>Today is {{today | json}}</p>
 -->









